<div class="p-4">
    <div class="top-4 m-4">
        <div
            class="bg-inherit dark:bg-inherit text-inherit dark:text-white p-4">
            <!-- <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                (click)="updateData()">Refresh general information</button> -->

            <section>
                <div class="flex flex-row pt-4">
                    <div class="basis-2/3">
                        <!-- @if(unreviewedComps$; as comps) {
                        <table
                            class="w-10/12 border-collapse border-spacing-2 border-slate-500">
                            <thead>
                                <tr>
                                    <th class="border border-slate-600">
                                        Competition
                                        Name</th>
                                    <th class="border border-slate-600">Date
                                    </th>
                                    <th class="w=-6 border border-slate-600">
                                        Validated
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @for(comp of comps; track comp.id; let index =
                                $index){
                                <tr class="text-center">
                                    <td
                                        class="border border-slate-700 pl-2 pr-4">
                                        {{comp.compFormat}}</td>
                                    <td
                                        class="border border-slate-700 pl-2 pr-4">
                                        {{comp.date | date: "fullDate"}}</td>
                                    <td
                                        class="border border-slate-700 pl-2 pr-4">
                                        {{comp.validated}}</td>
                                    <td>
                                        <button type="button"
                                            class="text-white bg-blue-700 hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                                            (click)="reviewBtnClicked(index)">View
                                            Details</button>
                                    </td>
                                </tr>
                                } @empty {
                                <tr>
                                    <td class="border-s-slate-700">There are no
                                        unreviewed competions</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        } -->
                        <table #testTable id="testTable"
                            class="w-10/12 border-collapse border-spacing-2 border-slate-500">
                            ...
                        </table>
                    </div>
                </div>
            </section>
            <section>
                @if(compToReview) {
                <form class="max-w-sm mx-auto" #compDetailForm="ngForm">
                    <div class="mb-5">
                        <h2>Competion Detials</h2>
                        <input type="number" id="sheetEntries"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="comp sheet entries" required
                            [(ngModel)]="compToReview.sheetEntries"
                            name="sheetEntries" />
                    </div>
                </form>
                }
            </section>
            <section>
                <p>no of players: {{compPlayers.length}}</p>
            </section>
        </div>
    </div>
</div>
