<div class="p-4">
    <div class="top-4 m-4">
        <div
            class="bg-inherit dark:bg-inherit text-inherit dark:text-white p-4">
            <section>
                <h2>Unreviewed Competions</h2>
                <div class="flex flex-row pt-4">
                    <div class="basis-1/2">
                        <table id="reviewTable">
                              ...
                        </table>
                    </div>
                </div>
            </section>
            <section>
                @if(compToReview) {
                <form class="max-w-sm mx-auto" #compDetailForm="ngForm">
                    <div class="mb-5">
                        <h2>Competion Details</h2>
                        <input type="number" id="sheetEntries"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="comp sheet entries" required
                            [(ngModel)]="compToReview.sheetEntries"
                            name="sheetEntries" />
                    </div>
                </form>
                }
            </section>
        </div>
    </div>
</div>
